<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>VLAB</title>
</head>

<body>
    <div style="background-image: url('images/vlab.jpg'); ">
        <img src="images/iitp.png" alt="" style="height:180px;padding-left: 1162px; opacity: 1;">
        <hr style="height: 3px;color: #000; opacity: 1;background-color: black;">
    </div>
    <div>
        <h1 id="head">DYNAMICS LAB</h1>
    </div>
    <div>
        <nav>
            <ul>
                <li>
                    <figure>
                        <a href="intro.html">
                            <img src="images/introduction.jpg" alt="my img" />
                            <figcaption> INTRODUCTION </figcaption>
                    </figure>
                    </a>
                </li>
                <li><a href="obj.html">
                        <figure>
                            <img src="images/sim.jpg" alt="my img" style="height: 90px;" />
                            <figcaption> SIMULATIONS </figcaption>
                        </figure>
                    </a>

                </li>
                <li>
                    <a href="theory.html">
                        <figure>
                            <img src="images/theory.png" alt="">
                            <figcaption>THEORY </figcaption>
                        </figure>
                    </a>

                </li>
                <li>
                    <a href="proc.html">
                        <figure>
                            <img src="images/procedure.png" alt="">
                            <figcaption> APPLICATION </figcaption>
                        </figure>
                    </a>

                </li>
                <li>
                    <a href="quiz.html">
                        <figure>
                            <img src="images/quiz.png" alt="">
                            <figcaption> QUIZ</figcaption>
                        </figure>
                    </a>

                </li>
                <li>
                    <a href="ref.html">
                        <figure>
                            <img src="images/reference.png" alt="">
                            <figcaption>REFERANCE </figcaption>
                        </figure>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div></div>

</body>

</html>